table {
  width: 100%;
  border-collapse: collapse; /* Removes double borders */
  font-family: Arial, sans-serif;
}

th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 12px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Zebra Striping */
tr:nth-child(even) {
  background-color: #fafafa;
}

/* Hover Effect */
tr:hover {
  background-color: #f1f1f1;
}

.btn:hover {
  background: #333;
  color: white;
}