{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Activities</title>
<link rel= "stylesheet" href="{% static 'activities.css'%}">
</head>
<body>

    <header>
    <div class="logo"><img src="{% static 'logo.jpg' %}" width="65" height="65"></div>

  <button class="menu-toggle" id="menuToggle">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
  </button>

    <nav class="nav-overlay" id="navOverlay">
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Activities</a></li>
        <li><a href="{% url 'leadership' %}">Leadership</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="{% url 'account' %}">Account</a></li>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button>log out</button>
            </form>
        {% else %}
            <button>
            <a href="{% url 'login' %}">Login</a>
            </button>
        {% endif %}

      </ul>
    </nav>
  <script>
    const menuToggle = document.getElementById('menuToggle');
const navOverlay = document.getElementById('navOverlay');

menuToggle.addEventListener('click', () => {
  menuToggle.classList.toggle('active');
  navOverlay.classList.toggle('open');
});
</script>
</header>
  <div class="container">
    <!-- Featured Event -->
    <section class="featured">
      <h2>April Mission</h2>
      <p><strong>Tour:</strong> ----- 2026</p>
      <p><strong>Date:</strong> April 13 - April 19</p>
      <p><strong>Time:</strong> 8:00 AM</p>
      <div class="btn-group">
        <a href="#" class="btn btn-primary">Get Tickets</a>
        <a href="#" class="btn btn-secondary">View Details</a>
      </div>
    </section>

   

<main>
  <section class="event">
    <h2>CITAM SERVICE</h2>
    <p class="date">March 25, 2026</p>
    <p class="location">ASSEMBLY HALL</p>
    <p class="description">
      --------------------
    </p>
  </section>

  <section class="event">
    <h2>Dischargees service</h2>
    <p class="date">March 29, 2026</p>
    <p class="location">ASSEMBLY HALL </p>
    <p class="description">
      ----------------------
    </p>
  </section>

  <section class="event">
    <h2>Thanksgiving</h2>
    <p class="date">May 5, 2026</p>
    <p class="location">-----------</p>
    <p class="description">
      ----------------------
    </p>
  </section>
</main>
</body>
<footer>
    <p>&copy; 2026 NYSCEI </p>
    <label><img src ="{%static 'fb.jpeg' %}" width="25" height="25" &nbsp>Facebook</label>
    <label><img src ="{%static 'tik.jpg' %}" width="25" height="25" &nbsp>Tik Tok</label>
    <label><img src ="{%static 'yt.jpeg' %}" width="25" height="25" &nbsp>Youtube</label>
  </footer>  

</html>
