{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Activities</title>
<link rel= "stylesheet" href="{% static 'activities.css'%}">
</head>
<body>

    <header>
    <div class="logo"><img src="{% static 'logo.jpg' %}" width="65" height="65"></div>

  <button class="menu-toggle" id="menuToggle">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
  </button>

    <nav class="nav-overlay" id="navOverlay">
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Activities</a></li>
        <li><a href="{% url 'leadership' %}">Leadership</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="{% url 'account' %}">Account</a></li>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button>log out</button>
            </form>
        {% else %}
            <button>
            <a href="{% url 'login' %}">Login</a>
            </button>
        {% endif %}

      </ul>
    </nav>
  <script>
    const menuToggle = document.getElementById('menuToggle');
const navOverlay = document.getElementById('navOverlay');

menuToggle.addEventListener('click', () => {
  menuToggle.classList.toggle('active');
  navOverlay.classList.toggle('open');
});
</script>
</header>
 <section class="hero">
        <div class="hero-content">
            <p class="subtitle">• APRIL MISSION •</p>
            <h1>June 27th - July 4th</h1>
            
            <div class="hero-card">
                <div class="card-body">
                    <span class="category">MISSION</span>
                    <h2>APRIL MISSION</h2>
                    <p class="tour-name">-----</p>
                    <div class="meta"><strong>APR 13 - APR 19</strong</div>
                    <div class="hero-btns">
                        <a href="#" class="btn-gold">Register</a>
                        <a href="#" class="link-text">View Details</a>
                    </div>
                </div>
                <div class="card-visual ticket-stub" style="background-image: url('event1.jpg');"></div>
            </div>
        </div>
    </section>

    <main class="container">
        <div class="section-header">
            <h2>Featured Upcoming Events</h2>
            <p>Keep coming back to our website to stay informed about the activities.</p>
        </div>

        <div class="event-list">
            <div class="event-item">
                <div class="date-col">
                    <span class="month">MAR</span>
                    <span class="day">29</span>
                    <span class="time">8:30 PM</span>
                </div>
                <div class="info-col">
                    <span class="category">DISCHARGEES SERVICE</span>
                    <h3>--------</h3>
                    <p>--------</p>
                    <div class="row-btns">
                        
                        <a href="#" class="link-text-sm">View Details</a>
                    </div>
                </div>
                <div class="img-col ticket-stub" style="background-image: url('event2.jpg');"></div>
            </div>

            <div class="event-item">
                <div class="date-col">
                    <span class="month">JUN</span>
                    <span class="day">29</span>
                    <span class="time">8:00 PM</span>
                </div>
                <div class="info-col">
                    <span class="category">THEATRE</span>
                    <h3>The Lewistage Hamlet</h3>
                    <p>By William Shakespeare</p>
                    <div class="row-btns">
                        <a href="#" class="btn-gold-sm">Get Tickets</a>
                        <a href="#" class="link-text-sm">View Details</a>
                    </div>
                </div>
                <div class="img-col ticket-stub" style="background-image: url('img1.jpg');"></div>
            </div>

            <div class="event-item">
                <div class="date-col">
                    <span class="month">JUN</span>
                    <span class="day">30</span>
                    <span class="time">9:00 PM</span>
                </div>
                <div class="info-col">
                    <span class="category">CONCERT</span>
                    <h3>Edward Burgess - Sax on the Beach</h3>
                    <p>Classical Summer Tour - 2022</p>
                    <div class="row-btns">
                        <a href="#" class="btn-gold-sm">Get Tickets</a>
                        <a href="#" class="link-text-sm">View Details</a>
                    </div>
                </div>
                <div class="img-col ticket-stub" style="background-image: url('event4.jpg');"></div>
            </div>
        </div>

        <div class="footer-action">
            <button class="btn-outline">View All Events</button>
        </div>
    </main>
    <script >// Currently static - no slider logic needed!
console.log("Lewistage Theatre page loaded.");
</script>
</body>
<footer>
    <p>&copy; 2026 NYSCEI </p>
    <label><img src ="{%static 'fb.jpeg' %}" width="25" height="25" &nbsp>Facebook</label>
    <label><img src ="{%static 'tik.jpg' %}" width="25" height="25" &nbsp>Tik Tok</label>
    <label><img src ="{%static 'yt.jpeg' %}" width="25" height="25" &nbsp>Youtube</label>
  </footer>  

</html>
